.boardWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.boardBox {
  margin-top: 30px;
  height: 600px;
  width: 600px;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.block {
  margin: 10px;
  height: 180px;
  width: 180px;
  cursor: pointer;
  background-color: cornflowerblue;
  display: flex;
  text-align: center;
  font-size: 50px;
  justify-content: center;
  font-weight: 500;
  color: #fff;
  align-items: center;
}
